body{
    font-family: 'Outfit', sans-serif;
    background-color:hsl(212, 45%, 89%);
    padding-top: 40px;
   margin-left: 35%;
   margin-right: 35%;
}
.container{
    width: 960px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    display: block;
    justify-content: center;  
    text-align: center;
}
.top-image img{
    padding: 30px;
    max-width: 300px;
    border-radius: 35px;
    
}
.botton-text h1 {
    color: hsl(218, 44%, 22%);
    margin-left: 20px;
    margin-right: 20px;
}
.botton-text p {
color: hsl(220, 15%, 55%);
font-size: 15px;
padding-bottom: 50px;
margin: 20px;
}

.attribution {
    font-size: 11px; text-align: center;
    }

.attribution a {
     color: hsl(228, 45%, 44%); 
    }

/* this is the media quiry section  */

@media(min-width:375px) {
    body{
        display: flex;
        flex-wrap: wrap;
        font-family: 'Outfit', sans-serif;
        background-color:hsl(212, 45%, 89%);
        padding-left: 3%;
        padding-right:3%;
    }
    .container{
        border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
        display: block;
        justify-content: center;  
    }
    .top-image img{
        padding: 20px;
        max-width: 300px;
        border-radius: 35px;
        
    }
    .botton-text h1 {
        color: hsl(218, 44%, 22%);
        margin-left: 40px;
        margin-right: 40px;
    }
    .botton-text p {
        color: hsl(220, 15%, 55%);
        font-size: 15px;
        padding-bottom: 50px;
        margin: 20px;
    }
}
