body {
    background-color: aqua;
}
/*this is for desktop view*/
body {
    background-color: hsl(217, 100%, 97%);
    margin: auto;
    padding: 4%;
}
.container {
    display: flex;
    justify-content: center;  
    text-align: center;
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 16px;
    border-radius: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 70%;
    padding: 15px;
    display: inline-block;
    margin: 5px 0 22px 0;
    border: solid #adbeff 2px;
    border-radius: 10px;
    background: hsl(217, 100%, 97%);
}

.nextstep{
    background-color: hsl(213, 96%, 18%);
    color: white;
    padding: 7px;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 48%;
    margin-top: 30px;
    text-decoration: none;
}
.sidebar {
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    background-image: url('images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-bar h2 {
    color: #02295a;
}
.all-form {
    text-align: start;
}
.all-form p {
   color:  #d6d9e6;
}
ol {
    list-style: none;
    counter-reset: li-counter;
  }
  
  ol li {
    counter-increment: li-counter;
  }
  
  ol li::before {
    content: counter(li-counter);
    color: #59cbbe;
    font-weight: bold;
    width: 20px;
    height: 20px;
  
    border: 2px solid #d6d9e6;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin: 10px;
  }
  .all-emt-list-lin {
    display: block;
    align-items: start;
}

.emt-list-lin {
    display: flex;
    padding: 5px;
}
.lin-p {
    padding-left: 5px ;
    padding-top: 5px ;
}
.lin-p a {
    color: #d6d9e6;
    text-decoration: none;
}

.lin-p h3 {
    color: white;
}


/*   this for the select section  */

.main-bar {
    display: block;
    padding: 10px;
}

.img-pri {
    flex: 1;
    flex-basis: 0;
    border: solid black 2px;
    border-radius: 5px;
    margin-right: 15px;
    padding: 13px;
}

.three-items {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

.month-year, .goback-next {
    display: flex;
    justify-content: space-around;
}

.goback-next a {
    color: blue;
    text-decoration: none;
}

.goback-next a:hover{
    text-decoration: underline;

}
.go-back {
    padding-top: 40px;
}

.month-check, .year-check {
    display: flex;
}  

/* this section is for the add-ons */

.add-three-items {
    display: block;
}

.item-pri {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
    margin: 10px;
}
.h3-check {
    display: flex;
}
.only-check {
    padding-top: 30px;
}

.h3-p {
    display: block;
}

.add-pri {
    padding: 15px;
}

/* this section is for the confirm */

.conf-items {
    padding: 15px;
    background-color: azure;
    border-radius: 10px;
}

.mon-pri {
    display: flex;
    justify-content: space-between;
}
.two-pri{
    display: block;
    padding: 15px;
}
.p-pri {
    display: flex;
    justify-content: space-between;
}

/* this is for the thanks sectiion */

.thank-p {
    margin-top: 20%;
}

.thank-p p{
    word-spacing: 2px;
    text-align: left;
}
/*
.sidebar {
    margin-left: 10%;
    width: 300px;
    height: 70%;
    position:absolute;
    background-image: url('images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


Send a message.

·

.sidebar ol {
padding: 20px;
margin: 20px;
}

.sidebar li {
border-radius: 10px;
padding: 10px;
}

.sidebar a {
display: block;
color: #000;
text-decoration: none;
}

.sidebar a:hover {
background-color: #ddd;
}
*/

.main-bar{
    margin-left: 15%;
}
     




/* this is for mobile view */


@media only screen and (max-width: 767px){
   
}
